#test-div {
    /* height: 100px; */
    /* width: 100px; */
    border: 1px solid #cccccc;
    /* transition: background-position-x 0.5s ease-in-out; */
}

/* #test-div:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position-x: -588px;
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    background-image: url(../data/feature-vis/mixed4b-00310--mixed4b-00319.jpg);
}

#test-div:hover:after {
    opacity: 1
} */

#test-div:hover {
    background-position-x: -588px;
}

#test-span {}

/* general sprite */

.sprite {
    display: inline-block;
    margin: 1px;
    width: 147px;
    height: 147px;
}

.sprite {
    background-position-x: -147px;
}

/* sprite negative */

.dataset-negative .sprite.index-0 {
    background-position-y: -74px !important;
}

/* sprite diversity */

.sprite.channel-diversity-0 {
    background-position-x: -441px;
}

.sprite.channel-diversity-1 {
    background-position-x: -588px;
}

.sprite.channel-diversity-2 {
    background-position-x: -735px;
}

.sprite.channel-diversity-3 {
    background-position-x: -882px;
}

/* examples */

.dataset-examples .sprite {
    height: 73px;
    width: 73px;
    margin-top: 1px;
    margin-left: 1px;
    margin-bottom: 0;
    margin-right: 0;
}

.sprite.dataset-index-0 {
    background-position-x: -1029px !important;
}

.sprite.dataset-index-1 {
    background-position-x: -1103px !important;
}

.sprite.dataset-index-2 {
    background-position-x: -1177px !important;
}

.sprite.dataset-index-3 {
    background-position-x: -1251px !important;
}

.sprite.dataset-index-4 {
    background-position-x: -1325px !important;
}

.sprite.dataset-index-5 {
    background-position-x: -1399px !important;
}

.sprite.dataset-index-6 {
    background-position-x: -1473px !important;
}

.sprite.dataset-index-7 {
    background-position-x: -1547px !important;
}

.sprite.dataset-index-8 {
    background-position-x: -1621px !important;
}

.sprite.dataset-index-9 {
    background-position-x: -1695px !important;
}

/* channel index in sprite */

.sprite.index-0 {
    background-position-y: -0px;
}

.sprite.index-1 {
    background-position-y: -147px;
}

.sprite.index-2 {
    background-position-y: -294px;
}

.sprite.index-3 {
    background-position-y: -441px;
}

.sprite.index-4 {
    background-position-y: -588px;
}

.sprite.index-5 {
    background-position-y: -735px;
}

.sprite.index-6 {
    background-position-y: -882px;
}

.sprite.index-7 {
    background-position-y: -1029px;
}

.sprite.index-8 {
    background-position-y: -1176px;
}

.sprite.index-9 {
    background-position-y: -1323px;
}