#post-wrapper {
    width: 100%;
    border-top: 1px solid var(--border-color);
    padding-top: 50px;
    padding-bottom: 50px;
}

#post {
    max-width: 640px;
    margin: 0 auto;
    color: var(--darker);
}

#post h1 {
    font-size: 36px;
    color: var(--darkest);
    padding-top: 12px
}

#post p, #post li {
    font-size: 18px;
    line-height: 34px;
    color: var(--darker);
}

.main-color-text {
    color: var(--main-color);
}

.summit {
    color: var(--main-color);
    font-variant: small-caps;
}

#post a {
    color: var(--main-light);
    text-decoration: none;
}

#post a:hover {
    text-decoration: underline;
}

#paper {
    width: 100%;
    display: flex;
}

#paper-image-wrapper {
    flex: 0 0 120px;
    border: 1px solid var(--border-color);
}

#paper-image-wrapper:hover {
    border: 1px solid white;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: 0.2s;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

#paper-image {
    width: 120px;
}

#paper-citation {
    flex: 1;
    padding-top: 30px;
    padding-left: 20px;
    font-size: 15px;
}

#attribution-graph-image {
    width: 75%;
}

.video-part-link {
    cursor: pointer;
}