@import '~awesomplete/awesomplete.css';
input.awesomplete {
    height: 30px;
    width: 250px;
    padding: 12px 12px;
    margin: 8px 0;
    box-sizing: border-box;
}

.awesomplete>ul>li[aria-selected="true"] {
    background: var(--main-color);
}

.awesomplete mark {
    background: var(--search-highlight);
}

.awesomplete li[aria-selected="true"] mark {
    background: var(--search-highlight-hover);
}

.awesomplete>ul>li:hover {
    background: var(--main-color);
    color: white;
}

.awesomplete li[aria-selected="false"]:hover mark {
    background: var(--search-highlight-hover);
}