@import '~awesomplete/awesomplete.css';
input.awesomplete {
    height: 30px;
    width: 210px;
    padding: 12px 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid var(--border-color);
}

input.awesomplete:focus, input.awesomplete:focus {
    outline: none;
}

.awesomplete>ul>li[aria-selected="true"] {
    background: var(--main-color);
}

.awesomplete mark {
    background: var(--search-highlight);
}

.awesomplete li[aria-selected="true"] mark {
    background: var(--search-highlight-hover);
}

.awesomplete>ul>li:hover {
    background: var(--main-color);
    color: white;
}

.awesomplete li[aria-selected="false"]:hover mark {
    background: var(--search-highlight-hover);
}