html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root {
    --main-color: #1A237E;
    --main-light: #7986CB;
    --border-color: rgba(0, 0, 0, 0.1);
    --background-color: #fafafa;
    --background-color-hover: #e3e3e3;
    --gray: rgba(0, 0, 0, 0.15);
    --darker: #444444;
    --dark: #666666;
    /* --main-color: #311B92; */
}

.wrapper {
    display: flex;
    flex-flow: column;
    height: 100%;
}

header {
    background: var(--main-color);
    font-size: 18px;
    font-weight: 200;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 64px;
    justify-content: center;
    flex-direction: row;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
}

.smalltext-header {
    color: #dddddd;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .8px;
}

#main {
    display: flex;
    height: 100%;
}

#left {
    background: var(--background-color);
    flex: 0 0 320px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--border-color);
    height: 100%;
}

#middle {
    /* background: deepskyblue; */
    flex: 1;
    display: flex;
    flex-direction: column;
}

#right {
    /* background: hotpink; */
    flex: 1;
    display: flex;
    flex-direction: column;
    border-left: 1px solid var(--border-color);
}

/* left */

#left-inner {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#left-inner-options {
    background: var(--background-color);
    width: 100%;
    flex: 0 0 200px;
    border-bottom: 1px solid var(--border-color);
}

#left-inner-class-bar-wrapper {
    overflow: scroll;
}

.class-bar {
    /* width: 100%; */
    height: 35px;
    border-bottom: 1px solid var(--background-color);
    border-top: 1px solid var(--background-color);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background: var(--background-color);
}

.class-bar:hover {
    background: var(--background-color-hover);
    cursor: pointer;
    border-bottom: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
}

.class-bar-text-wrapper {
    display: flex;
    height: 25px;
}

.class-bar-text-name, .class-bar-text-instances, .class-bar-text-accuracy {
    flex: 1;
}

.class-bar-text-name, .class-bar-text-name a {
    font-size: 16px;
    color: var(--darker);
    text-decoration: none;
    /* width: 125px; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.class-bar-text-name a:hover {
    text-decoration: underline;
}

.class-bar-text-instances {
    flex: 0 0 40px;
    color: var(--dark);
    font-size: 14px;
}

.class-bar-text-accuracy {
    flex: 0 0 40px;
    color: var(--dark);
    font-size: 14px;
}

.class-bar-text-histogram {
    flex: 0 0 100px;
}

.class-bar-bar-wrapper {
    display: flex;
    height: 25px;
}

.class-bar-bar-background {
    height: 2px;
    margin-top: 1px;
    /* width: 100%; */
    /* border-top: 2px solid var(--border-color); */
    /* border-left: 2px solid var(--border-color); */
    /* border-right: 2px solid var(--border-color); */
    background: var(--gray);
}

.class-bar-bar-data {
    height: 4px;
    background: var(--main-light)
}